---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import { sizingClass } from '../../constants/index.ts';
import type { Comment } from '../../types'
import { getPostById, createComment } from '../../lib/apiHandlers';

export const prerender = false;

const { id } = Astro.params;
const { user } = Astro.locals;
const result = await getPostById(id!);

if (!result.success || !result.post) return Astro.redirect('/404');
const post = result.post;

let error = '';
let success = Astro.url.searchParams.get('success') || '';

if(Astro.request.method === "POST") {
  try {
    const formData = await Astro.request.formData();
    formData.append('post_id', id!);
    formData.append('user_id', user.user_id);

    const result = await createComment(formData);
    
    if (!result.success) {
      error = result.error || "Comment failed. Please try again.";
    } else {
      success = result.message || "Your comment is posted successfully.";
      return Astro.redirect(`/post/${id}?success=${encodeURIComponent(success)}`);
    }
    
  } catch (e) {
    error = "Unexpected Error occured!";
  }
}
---

<DefaultLayout>
    <img src={post.image.publicUrl} alt={post.title} class="w-full h-[700px] object-fill mb-6 shadow-md" />
    <main class={sizingClass}>
        {error && (
            <div id="error-message" class="bg-red-500 text-white p-4">
                {error}
            </div>
            )}

            {success && (
            <div id="success-message" class="bg-green-500 text-white p-4">
                {success}
            </div>
        )}
        <article class="prose lg:prose-xl mx-auto my-8 w-full lg:w-[80%] ">
            <h1 class="text-4xl font-bold mb-4">{post.title}</h1>
            <div class="flex items-start space-x-2">
                <img src={post.users.image.publicUrl} alt={post.users.firstname + " " + post.users.lastname} class="rounded-full h-16 w-16">
                <div class="flex flex-col my-auto">
                    <p class="text-lg font-medium ">{post.users.firstname + " " + post.users.lastname}</p>
                    <p class="text-gray-500 text-xs">{new Date(post.created_at).toDateString()}</p>
            </div>
            </div>
            
            <p class="text-justify leading-7">
                {post.content}
            </p>
        </article>

        <section class={sizingClass}>
            {user && Object.keys(user).length > 0 && (
                <form 
                method="POST"
            >
                <h2 class="text-lg font-bold mb-4 text-black">Leave a Comment</h2>
                <textarea name="comment" rows="3" placeholder="Your comment..." class="w-full p-4 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-pink-500 mb-4"></textarea>
                <button type="submit" class="bg-pink-500 text-white font-semibold py-2 px-4 rounded-md hover:bg-pink-600 transition duration-300">Submit Comment</button>
            </form>
            )}

            {post.comment && post.comment.length > 0 ? (
                <div class="mt-8">
                    <h3 class="text-xl font-bold mb-4 text-black">Comments</h3>
                    <ul class="space-y-6">
                        {post.comment.map((comment: Comment) => (
                            <li class="border-b border-gray-300 pb-4 shadow-sm shadow-neutral-500/50 p-4 rounded-2xl">
                                <div class="flex">
                                    <img src={// @ts-ignore
                                        comment.users.image.publicUrl
                                        } alt={// @ts-ignore
                                            comment.users.firstname} class="rounded-full h-12 w-12 mr-4"/>
                                    <div>
                                        <p class="font-medium text-black">{// @ts-ignore
                                            comment.userName} 
                                            <span class="text-gray-500 text-sm"> { // @ts-ignore
                                            new Date(comment.created_at).toDateString()}
                                            </span>
                                        </p>
                                        <p class="mt-2 text-justify">{ // @ts-ignore
                                        comment.comment}</p>
                                    </div>
                                </div>
                                
                            </li>
                        ))}
                    </ul>
                </div>
            ) : (
                <p class="mt-8 text-gray-500">No comments yet. Be the first to comment!</p>
            )}
        </section>
    </main>
</DefaultLayout>
<script>
  const errorBox = document.getElementById('error-message');
  const successBox = document.getElementById('success-message');

  if (errorBox) {
    setTimeout(() => {
      errorBox.style.display = 'none';
    }, 4000);
  }

  if (successBox) {
    setTimeout(() => {
      successBox.style.display = 'none';
    }, 4000);
  }
</script>